body {
    font-family: Arial, sans-serif;
}

.grid-raster {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.kachel {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.kachel h3 {
    margin-top: 0;
}

.kachel button {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: left;
}

.loesch-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
}


form {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}

form input {
    padding: 10px;
}